{% extends "calendarapp/base.html" %}

{% block content %}
	<style type="text/css">
		.main { margin-left: 25px; margin-top: 30px; }
		.body { font-style: italic; font-size: 1.5em; margin: 15px;}
		.title {
			font-size: 1.4em; margin-top: 20px; border-bottom: 1px solid #ccc;
			padding-left: 4px; margin-left: 5px;
		}
		.month { font-size: 1.2em; border: 1px solid #ccc; width: 750px; padding: 20px; }
		.clear{ float: both; }
		.empty{ display: inline-block; width: 92px; margin-right: 3px; }
		.day { font-size: 1.0em; display: inline-block; border: 1px solid #ccc; padding-left: 2px; padding-top: 20px; padding-bottom: 20px; width: 90px; margin-right: 2px; }
		.current { font-size: 1.2em; display: inline-block; border: 1px solid #ccc; padding-left: 2px; padding-top: 20px; padding-bottom: 20px; width: 90px; margin-right: 2px; background-color: yellow; }
		.current a, .month a { text-decoration: none; }
		.h4{ clear:both; text-align: center; margin-left: -90px; padding-top: 5px; padding-bottom: 5px;}
	</style>

	<h4>Settings</h4>
	<form action="" method="POST"> {% csrf_token %}
	Show other users' entries:
		<input type="checkbox" name="show_users" {% if show_users %}checked{% endif %} />
	<input type="submit" value="Save" />
	</form>


{% endblock %}
